body {
    margin: 0;
}

@font-face {
    font-family: 'Lato-Black';
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Lato-Italic';
    src: url(../fonts/Lato-Italic.ttf);
    font-weight: 400;
}

.header {
    background-color: #222;
}
.header_container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 230px;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__icon {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 18px;
    margin-bottom: 19px;

}
.right__icons {
    display: flex;
    gap: 33px;
}
.dropdown_btn {
    position: relative;
    
}
.burger{
    cursor: pointer;
    background-color: #222;
    border: none;
}

.drop__content {    
    display: none;
    position: absolute;
    z-index: 1;
    width: 232px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
    margin-top: 24px;
    margin-left: 183px;

}
.menu {
    font-family: Lato-Bold;
font-size: 14px;
color: #222;
padding-left: 33px;
}
.drop__content a {
    text-decoration: none;
    display: block;
}
.category {
    color: #F16D7F;
font-family: Lato-Regular;
font-size: 14px;
    padding-top: 20px;
    padding-left: 32px;
}
.clothes a{
    color: #6F6E6E;
font-family: Lato-Regular;
font-size: 14px;
    padding-top: 12px;
    padding-left: 53px;
}
.dropdown_btn:hover .drop__content{
    display: block;
}
.basket {
    position: relative;
    display: flex;
}

.basket::after {
    content: '5';
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: white;
    border-radius: 50%;
    text-align: center;
font-family: Lato-Regular;
font-size: 12px;
margin-left: 22px;

}
.mobile__version {
    display: none;
}

.intro {
    background-color: #F1E4E6;
}
.intro__container {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    margin-bottom: 65px;
}
.intro__text {
    display: flex;
    align-items: center;
    gap: 16px;
}
.the_brand {
    margin: 0;
    font-family: 'Lato-Black';
    font-size: 48px;
}

.the_brand_sec {
    margin: 0;
    font-family: 'Lato-Bold';
    color: #222;
    font-size: 32px;
}

.the_brand_sec span {
    color: #F16D7F;
}

.offer {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box {
    position: relative;
    width: 360px;
    height: 260px;
    text-align: center;
}
.img_bg{
    position: absolute;
    background-color: rgba(33, 22, 22, 0.70);
    height: 100%;
    width: 100%;

}
.box_1 {
    background-image: url(../images/Layer\ 43.png);   
}

.box_2 {
    background-image: url(../images/Rectangle\ 30.png);
}

.box_3 {
    background-image: url(../images/Rectangle\ 31.png);
}

.box_4 {
    grid-column: 1 / 4;
    background-image: url(../images/Rectangle\ 20.png);
    height: 180px;
    text-align: center;
    position: relative;
}

.upper__txt {
    position: absolute;
    color: #FFF;
    font-family: Lato-Regular;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower__txt {
    color: #F16D7F;
    font-family: Lato-Bold;
    font-size: 24px;
}

.featured__text {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.featured {
    margin: 0;
    font-family: Lato-Regular;
}

.p1 {
    font-size: 30px;
}

.p2 {
    color: #9F9F9F;
    font-size: 14px;
}

.products {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.prod_wrapper {
    position: relative;
}
.add-to-cart {
    color: white;
    display: none;
    background-color: inherit;
    position: absolute;
    width: 139px;
    height: 44px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: Lato-Regular;
   font-size: 14px;
   border: 1px solid #FFF;    
}

.prod_wrapper:hover > .prod-bg {
    position: absolute;
    background-color: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
}

.prod_wrapper:hover .add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.product_description {
    padding: 24px 16px;
    background-color: #F8F8F8;
}

.name {
    font-family: Lato-Regular;
    font-size: 13px;

}

.description {
    color: #5D5D5D;
    font-family: Lato-Light;
    font-size: 14px;
}

.price {
    margin: 0;
    color: #F16D7F;
    font-family: Lato-Regular;
    font-size: 16px;
}

.button__area {
    display: flex;
    justify-content: center;
}

.button {
    padding: 0;
    background-image: url(../images/Rectangle\ 5.png);
    width: 212px;
    height: 48px;
    border: transparent;
    background-color: #FFF;
    margin-top: 48px;
    margin-bottom: 60px;
    color: #F26376;
    font-family: Lato-Regular;
    font-size: 16px;
}
.button:hover {
    color: white;
    background-color: #F16D7F;
}
.feature {
    background-color: #222224;
}
.feature__container {
    max-width: 1140px;
    margin:auto;
    display: flex;
    gap: 30px;
}
.feature__block {
    max-width: 360px;
    margin-top: 103px;
    margin-bottom: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature__block h1{
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 19.96px;
    margin-bottom: 16px;
}
.feature__block p {
    color: #FBFBFB;
text-align: center;
font-family: Lato-Light;
font-size: 13.972px;
width: 100%;
margin: 0;
}
.copyright__container {
    background-color: #222224;
    height: 79px;
}
.copyright {
    max-width: 1600px;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.copyright p {
    color: #FBFBFB;
font-family: Lato-Regular;
font-size: 16px;
margin-left: 235px;
}
.brands {
    display: inline-flex;
    gap: 7px;
    margin-right: 237px;
}
.brand {
    width: 32px;
    height: 32px;
    background-color: white;
    text-align: center;
}
.brand-icon {
    margin-top: 22%;
    fill: black;
}
.brand:hover  {
    background-color: #F16D7F;
}
.brand:hover > .brand-icon {
    fill: white;
}
.subscribe__container{
    background-image: url(../images/photo\ subscribe.jpg);
    height: 448px;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 223px;
}
    
.subscribe__info{
    margin: 97px 126px 228px;
    width: 360px;
}
.subscribe__info > img {
    display: block;
    margin: 0 auto;

}
.subscribe__info > p {
    margin-top: 30px;
text-align: center;
font-family: Lato-Regular;
font-size: 20px;
}
.subscribe__info > p > span {
font-family: Lato-Italic;
font-size: 20px;
}
 .subscribe > p {
    margin: 0;
    margin-bottom: 32px;
    margin-top: 150px;
text-align: center;
font-family: Lato-Bold;
font-size: 24px;
}
.subscribe > p > span {
font-family: Lato-Regular;
font-size: 18px;
}
.subscribe form {
    display: flex;
}
.inp_email {
    color: #222224;
font-family: Lato-Regular;
font-size: 14px;
background-color: #E1E1E1;
opacity: 0.671;
border-radius: 30px 0px 0px 30px;
height: 49px;
border-width: 0;
padding: 0;
padding-left: 22px;
width: 256px;
}

.inp_submit {
    color: white;
    background-color: #E05C6E;
    border-radius: 0px 30px 30px 0px;
height: 49px;
border-width: 0;
width: 100px;
font-family: Lato-Regular;
font-size: 14px;
cursor: pointer;
}

@media (max-width:1439px) {
    .header_container {
        max-width: 768px;
        padding: 0;
        width: 90vw;
    }

    .intro__container {
        max-width: 768px;
    }
    .intro__photo {
        max-width: 368px;
        max-height: 368px;
    }
    .mobile__version {
        display: none;
    }
    .header_container {
        padding-left: 32px;
        padding-right: 41px;
    }
    .the_brand {
        font-size: 44px;
    }
    .the_brand_sec{
        font-size: 24px;
    }
    .offer {
        gap: 19.5px;
        max-width: 734px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .box {
        background-size: 232px auto;
        max-width: 232px;
        max-height: 167.5px;        
    }
   
    .upper__txt {
        top: 43%;
    min-width: 154px;
    }
    .box_4 {
    
        height: 116px;
    }
    .products {
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .product_description {
        max-width: 316px;
        padding: 24px 26px 20px 18px;
    }
    .feature__container{
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 48px;
        align-items: center;
    }
    .feature__block{
        height: 134px;
        margin: 0;
    }
    .button {
        margin-top: 32px;
    }
    .subscribe__container{
        flex-direction: column;
        height: 693px;
        max-width: 1439px;
        gap: 48px;
        align-items: center;
        justify-content: center;
    }
    .subscribe__info {
        margin: 0;
    }
    .subscribe p {
        margin: 0;
        margin-bottom: 27px;
    }
    .copyright{
        max-width: 1439px;
    }
    .copyright p{
        margin-left: 32px;
    }
    .brands {
        margin-right: 32px;
    }
}
@media (max-width: 767px) {
    .header_container{
        max-width: 100%;
        width:auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .basket {
        display: none;
    }
    .person{
        display: none;
    }
    .search__icon {
        gap: 41px;
    }
.mobile__version {
    display: block;
}
.intro{
    height: 363px;
    margin-bottom: 64px;
}
.intro__container{
    max-width: 100%;
    justify-content: center;

}
    .intro__photo{
        display: none;
    }
.the_brand{
    font-size: 38px;
}
.the_brand_sec {
    font-size: 20px;
}
.intro__text {
    margin-top: 148px;
}
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.box{
    background-position: center;
        background-size: cover;
        max-height: 247px;
        width: 100%;
        max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}
.box_4{
    min-height: 111px;
    min-width: 232px;
    width: 100%;
}
.products {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
.product{
    width: 100%;
}
.product__photo {
    width: 100%;
}
.product_description{
    max-width: 100%;
}
.name {
    margin: 0;
}
.button {
    margin-top: 40px;
    margin-bottom: 85px;
}
.subscribe{
    max-width: 341px;
}
.subscribe > p > span{
    font-size: 14px;
}
.copyright__container{
    height: 143px;
    padding-top: 43px;
    padding-bottom: 8px;
}
.copyright{
    flex-direction: column-reverse;
    gap: 40px;
    
}
.copyright p{
    margin: 0;
}
.brands{
    margin: 0;
}
}
